*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #222;
}
.container{
    width: 90%;
    max-width: 500px;
    background: linear-gradient(120deg, rgb(0, 48, 143) 26.00%, rgb(34, 179, 179) 100.00%);
    color: #fff;
    padding: 80px 35px;
    margin: 40px auto 0;
    border-radius: 20px;
    text-align: center;
}
.searchpart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.searchpart input{
    border-radius: 20px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 50px;
    flex: 1;
    font-size: 18px;
    margin-right: 10px;
}
.searchpart button{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding: 14px;
    background: #ebfffc;
    border: 0;
    outline: 0;
    
}
.searchpart button img{
    height: 20px;
}
.weather-icon{
    max-width: 160px;
    margin-top: 10px;
}
.weather h1{
    font-size: 70px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.weather2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 60px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 21px;
    margin-top: -6px;
}
.weather{
    display: none;
}
@media only screen and (max-width: 482px)  {
    .weather2{
        display: grid;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    .col{
        padding: 20px;
    }
}
@media only screen and (max-width: 442px)  {
    .searchpart input{
        width: 50%;
    }
}
.error{
    text-align: center;
    padding: 10px 0;
    font-size: 20px;
    display: none;
}
